/* Основной цвет #757575 */
/* Вторичный цвет background: ##212121 */
/* Основной фон #FFFFFF */
/* Вторичный фон #2F303A */
/* Цвет контактов #FFFFFF 60% */
/* Акцент #2196F3 */
:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--primary-white-color: #ffffff;
--footer-dark-color: #2F303A;
}

/* Основные стили */
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family:Roboto;
}

/* Лого */
.logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.logo-accent {
color: var(--title-text-color);
}

.logo-accent-text {
    color: var(--primary-white-color);
}

/* Шапка сайта */
.site-nav a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--title-text-color);
    text-decoration: none;
}

.contact a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-text-color);
    text-decoration: none;
}

/* Герой */
.page-hero h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: var(--primary-white-color);
}

.button-hero {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: var(--primary-white-color);
    background: var(--accent-color);
    border: none;
    cursor: pointer;
}

/* Преимущества */
ul {
    list-style: none;
}

h2, h3 {
    color: var(--title-text-color);
}

.subtitle h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
}

.subtitle p {
    font-size: 14px;
    line-height: 24px;
}

/* Наша команда */
.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.team p {
    font-size: 16px;
    line-height: 19px;
}


/* Портфолио */


.contact .address {
    color: var(--primary-white-color);
}

.page-hero {
    background: var(--footer-dark-color);
}

.page-team {
    background: #F5F4FA;
}

.page-footer {
    background: var(--footer-dark-color);
}

.button-filt {
    color: var(--title-text-color);
    background: #F5F4FA;
    border: none;
    cursor: pointer;
}

.site-nav a:hover {
    color: var(--accent-color);
}

.contact a:hover {
    color: var(--accent-color);
}

.button-filt:hover {
    background: var(--accent-color);
    color: #ffffff;
}
