/* Основной цвет #757575 */
/* Вторичный цвет background: ##212121 */
/* Основной фон #FFFFFF */
/* Вторичный фон #2F303A */
/* Цвет контактов #FFFFFF 60% */
/* Акцент #2196F3 */
:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--primary-white-color: #ffffff;
--footer-dark-color: #2F303A;
}

/* Основные стили */
body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family:Roboto;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* Лого */
.logo {
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-accent {
color: var(--title-text-color);
}

.logo-accent-text {
    color: var(--primary-white-color);
}

/* Шапка сайта */
.site-nav a {
    font-weight: 500;
    line-height: 1.14;
    color: var(--title-text-color);
    text-decoration: none;
}

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contact a {
    line-height: 1.14;
    color: var(--primary-text-color);
    text-decoration: none;
}

/* Герой */
.page-hero h1 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-size: 44px;
    line-height: 1.36;
    color: var(--primary-white-color);
}

.button-hero {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-white-color);
    background: var(--accent-color);
    border: none;
    cursor: pointer;
}

/* Преимущества */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style: none;
}

h2, h3 {
    color: var(--title-text-color);
}

.subtitle h3 {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.14;
}

.subtitle p {
    line-height: 1.71;
}

/* Наша команда */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team p {
    font-size: 16px;
    line-height: 1.18;
}

.contact-footer a {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;   
}

.info {
    color: rgba(255, 255, 255, 0.6);
}


/* Портфолио */
.contact-footer .address {
    color: var(--primary-white-color);
}

.page-hero {
    background: var(--footer-dark-color);
}

.page-team {
    background: #F5F4FA;
}

.page-footer {
    background: var(--footer-dark-color);
}

.button-filt {
    color: var(--title-text-color);
    background: #F5F4FA;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.site-nav a:hover {
    color: var(--accent-color);
}

.contact a:hover {
    color: var(--accent-color);
}

.button-filt:active {
    background: var(--accent-color);
    color: #ffffff;
}

.works h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.works p {
    font-size: 16px;
    line-height: 1.87;
}